
.container {
    margin: inherit;
}

.banner {
    height: 700px;
    background-image: url('../images/DOKDO.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.center_box {
    width: 1500px;
    margin: 0 auto;
}

.outer {
    border-bottom: 1px solid #ddd;
}

.product_01 {
    display: flex;
    width: 1500px;
    margin-top: 15px;
    margin-left: 50px;
}

.product_01 li a {
    font-size: 20px;
    font-weight: 600;
    padding: 0 10px;
    text-align: center;
    margin-left: 10px;
}

.banner_02 {
    height: 1035px;
    background-image: url('../images/dokdo_basic.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.product_02 {
    padding-left: 10px;
    padding-bottom: 20px;
    display: flex;
}

.footer {
    border-top: 1px solid #ddd;
}

.footer h2 {
    font-size: 40px;
    margin-top: 40px;
    color: #5b5b5b;
}

.footer p {
    font-size: 20px;
    margin-top: 50px;
    margin-left: 20px;
    color: #5b5b5b;
}

.copyright {
    margin-left: 370px;
    margin-bottom: 40px;
    color: #5b5b5b;
}
