.container {
    margin: inherit;
    margin-bottom: 30px;
}

.product_01 {
  text-align: center;
  padding: 60px 0;

}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.inputs input {
  width: 834px;
  padding: 16px;
  border-radius: 6px;
}


.btn_box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btn {
  width: 220px;
  height: 60px;
  background-color: #4367c3;
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer;
}
